
.Paragraph{
    margin-bottom: 10;
}
.List{
    margin-bottom: 10;
}
.Header{
    margin-bottom: 10;
}
 .Crosshead{
    margin-bottom: 10;
}
.Image
{
    margin-bottom: 10;
}

.Header
{
    font-weight: bold;
    font-size: 18;
}

.Crosshead
{
    font-weight: bold;
    font-size: 15;
}

.List
{
    margin-left: 18;
}
.Container
{
    padding-left: 10;
    padding-right: 10; 
    padding-top: 5;
}
.Video{
    width: 100%;
    margin-bottom: 10;
}